.bold {
    color: #EEEEEE;
    
}

.brand {
    color: #B2B2B2;
    font-size: 25px;
}

.highlight {
    color: #00ABB3;
}

body {
    height: 1000px;
    background-color: #232931;
}

.main-head {
    color: white;
}

.git-icon {
    color: #EEEEEE;
}
.social a {
    text-decoration: none;
}

.social-item {
    display: inline;
    color: #B2B2B2;
    font-size: medium;
}